<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animal</key>
	<array>
		<string>cat</string>
		<string>dog</string>
		<string>pig</string>
	</array>
	<key>fish</key>
	<array>
		<string>buri</string>
		<string>tuna</string>
		<string>aji</string>
	</array>
</dict>
</plist>
